.top-header {
    padding: 10px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;

    background-color: rgba(32, 21, 46, 0.6);
    border-radius: 15px;
    backdrop-filter: blur(2px);

    max-width: 920px;
    margin-left: auto;
    margin-right: auto;

    .ham-menu {
        display: none;
    }

    ul {
        opacity: 1;
        list-style: none;
        flex-direction: row;
        display: flex;
        color: #ffff;
    }

    li {
        float: right;
        a {
            line-height: 24px;
            text-decoration: none;
            color: var(--text-color);
            border-bottom: 2px solid transparent;
            transition: all 0.3s;
            margin: 16px;
            padding-bottom: 3px;

            &:hover {
                color: var(--accent-color);
                border-bottom-color: var(--accent-color);
            }
        }
    }

    &__get-started-btn {
        padding: 10px 14px;
        outline: 2px solid var(--accent-color);
        color: var(--accent-color);
        border-radius: 36px;
        transition: all 0.2s;
    }

    &__get-started-btn:hover {
        background-color: var(--accent-color);
        color: #ffff;
    }

    @media (max-width: 768px) {
        margin-left: 15px;
        margin-right: 15px;
        ul {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px; 
            right: 0;
            background-color: rgba(32, 21, 46, 0.9);
            width: 100%;
            padding: 16px;
            border-radius: 0 0 15px 15px; 
        }

        ul.show {
            display: flex; 
        }

        &__get-started-btn {
            display: none;
        }

            .ham-menu {
                display: block;
                height: 50px;
                width: 50px;
                margin-left: auto;
                position: relative;
                z-index: 15;
                cursor: pointer;
                background-color: rgba(32, 21, 46, 0.6);
                backdrop-filter: blur(2px);
                border-radius: 15px;
            }

            .ham-menu span {
                display: block;
                width: 80%;
                height: 4px;
                background-color: #fff;
                border-radius: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .3s ease;
                z-index: 20;
            }

            .ham-menu span:nth-child(1) {
                top: 30%;
            }

            .ham-menu span:nth-child(2) {
                width: 60%;
            }

            .ham-menu span:nth-child(3) {
                top: 70%;
                width: 40%;
            }

            .ham-menu.active span:nth-child(1){
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: var(--accent-color);
                width: 80%;
            }

            .ham-menu.active span:nth-child(2){
            opacity: 0;    
            }

            .ham-menu.active span:nth-child(3){
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                background-color: var(--accent-color);
                width: 80%;
            }
    }}

    .off-screen-menu {
        display: none;
    }

    @media (max-width: 768px) {
    .off-screen-menu {
        background-color: var(--card-bg-color);
        height: 100vh;
        width: 100%;
        max-width: 250px;
        position: fixed;
        top: 0;
        justify-content: flex-start;
        padding-top: 20%;
        align-items: flex-start;
        transition: .3s ease-in;
        display: flex;
        flex-direction: column;
        gap: 20px;
        right: -250px;
        border-left: var(--accent-color) solid 2px;
        z-index: 19;
    }

    .off-screen-menu li {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin-left: 50px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 74px;

        &:hover{
            background-color: var(--background-color);
            border-radius: 15px 0 0 15px;
        } 
    }

    .off-screen-menu ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .off-screen-menu a {
        color: #fff;
    }

    .off-screen-menu.active {
        right: 0;
    }

}

@media (max-width: 768px) {
    .top-header {
        background-color: transparent;
        backdrop-filter: none;
    }

    
}

    